* {
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimGaeulsopungB';
    font-size: 20px;
    line-height: 25px;
}

@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 600px;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
}

header {
    top: 0px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    background-color: lightblue;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    border-bottom: 2px solid black;
    align-items: center;
    border-start-start-radius: 6px;
    border-start-end-radius: 6px;
}

header p {
    cursor: pointer;
}

header .title {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    width: 140px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    background-color: lightblue;
    width: 140px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content a {
    border-top: 1px solid black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

footer {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: blue;
    text-align: center;
    justify-self: flex-end;
    color: white;
    z-index: -1;
    border-end-start-radius: 6px;
    border-end-end-radius: 6px;
}

main {
    flex-grow: 1;
    background-color: f1f1f1;
    bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 480px;
    padding: 20px;
}