* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 600px;
    margin: auto;
    margin-top: 120px;
}

header {
    top: 0px;
    height: 60px;
    line-height: 60px;
    background-color: lightblue;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    border-bottom: 3px solid black;
}

header p {
    cursor: pointer;
}

header .title {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    background-color: lightblue;
    width: 140px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    border-top: 1px solid black;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

footer {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: blue;
    text-align: center;
    justify-self: flex-end;
    color: white;
}

main {
    flex-grow: 1;
    background-color: aqua;
    bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 20px;
}